.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
*.db
*.log
.mypy_cache
.pytest_cache
node_modules
dist
build
.DS_Store
example/output/
example/input/big_200mb.txt
data/encrypted/*.dec.tmp
data/encrypted/*.enc
data/encrypted/*.json
data/
.env

